*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Atkinson+Hyperlegible+Next:ital', sans-serif;
}

header{
    height: 80px;
}

.logo{
    padding: 15px;
    vertical-align: middle;
}

.header-name{
    display: inline-block;
    vertical-align: middle;
    font-size: 35px;
    font-weight: bold;
}

/* fine header */

main{
    background-color: rgb(196, 196, 196);
    padding-top: 80px;
    padding-bottom: 1000px;
}

.container{
    width: 750px;
    margin: 0 auto;
    background-color: white;
    height: 1000px;
}

.section{
    padding-left: 30px;
    padding-top: 10px;
}

.add-style{
    display: inline-block;
    border: 1px solid grey;
    border-radius: 5px;
    border-color: lightgrey;
    font-size: 12px;
    padding: 10px;
}

#add-task-style{
    background-color: rgb(72, 165, 246);
    color: white;
}

#add-section-style{
    color: lightgrey;
}

.division-list{
    padding-top: 20px;
}

.list-title{
    font-weight: bold;
    font-size: 25px;
    list-style: none;
}

.list-title-enti{
    font-size: 20px;
}

.list-element{
    list-style: none;
    padding: 10px;
}

.point-check{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 1px solid greenyellow;
    display: inline-block;
    padding: 2px;
    text-align: center;
    color: greenyellow;
}

.point-cross{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 1px solid red;
    display: inline-block;
    padding: 2px;
    text-align: center;
    color: red;
}

/* .check-point{ */
    border-color: greenyellow;
    color: greenyellow;
}