*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 80px;
}

.logo{
    padding: 15px;
    vertical-align: middle;
}

.header-name{
    display: inline-block;
    vertical-align: middle;
    font-size: 35px;
    font-family: 'Atkinson+Hyperlegible+Next:ital', sans-serif;
    font-weight: bold;
}

/* fine header */

main{
    background-color: rgb(196, 196, 196);
}

.container{
    width: 500px;
    margin: 0 auto;
    background-color: white;
}

.add-style{
    display: inline-block;
    border: 1px solid grey;
    border-radius: 5px;
    border-color: lightgrey;
    font-size: 15px;
    padding: 5px;
}

#add-task-style{
    background-color: rgb(72, 165, 246);
    color: white;
}

#add-section-style{
    color: lightgrey;
}